- model_class = User
%h3
  Os seus livros
.container-fluid
  .row-fluid
    .span2
      = render_navigation :context => :user, :expand_all => true, :renderer => :bootstrap
    .span10
      -if @livros.empty?
        Ainda não têm Manuais Escolares Anúnciados.
        =link_to "Clique aqui para adicionar o primeiro",new_livro_path
      -else
        =render :partial => "livros/search_results", :locals => {:model_class => model_class}