.control-group
  .controls
    =image_tag p.image_url(:thumb)
    %span.fileinput-button
      =link_to t('helpers.links.destroy'), photo_path(p.id), method: 'delete', :data => { :confirm => t('photo.delete.confirm') }, :class => 'btn btn-danger'

//=p.file_field :image, multiple: true