=image_tag @livro.photo1.url(:thumb) if @livro.photo1.file?
=image_tag @livro.photo2.url(:thumb) if @livro.photo2.file?
=image_tag @livro.photo3.url(:thumb) if @livro.photo3.file?
=image_tag @livro.photo4.url(:thumb) if @livro.photo4.file?