.simple_search_form
  .row-fluid
  .span2
  = search_form_for @search do |f|
    .control-group
      = f.label :nome_cont, :class => 'control-label'
      .controls
        = f.text_field :nome_cont, :class => 'text_field'
    = f.submit nil, :class => 'btn btn-primary'

